<li>
    <a href="#authentication" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i class="ri-pages-line iq-arrow-left"></i><span>Authentication</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
    <ul id="authentication" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
       <li><a href="sign-in.html"><i class="las la-sign-in-alt"></i>Login</a></li>
       <li><a href="sign-up.html"><i class="ri-login-circle-line"></i>Register</a></li>
       <li><a href="pages-recoverpw.html"><i class="ri-record-mail-line"></i>Recover Password</a></li>
       <li><a href="pages-confirm-mail.html"><i class="ri-file-code-line"></i>Confirm Mail</a></li>
       <li><a href="pages-lock-screen.html"><i class="ri-lock-line"></i>Lock Screen</a></li>
    </ul>
 </li>

 <li>
   <a href="#userinfo" class="iq-waves-effect" data-toggle="collapse" aria-expanded="false"><span class="ripple rippleEffect"></span><i class="las la-user-tie iq-arrow-left"></i><span>User</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
   <ul id="userinfo" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle" style="">
      <li><a href="profile-edit.html"><i class="las la-edit"></i>User Edit</a></li>
      <li><a href="add-user.html"><i class="las la-plus-circle"></i>User Add</a></li>
      <li><a href="user-list.html"><i class="las la-th-list"></i>User List</a></li>
   </ul>
</li>